/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.post-bloc {
  margin-top: 100px;
  margin-bottom: 200px;
}
